# vscode
.vscode

# C compiler
a.out
*.out
*.exe

# Wollok logs and more
*.index
*.xml
*.jar
*.target
*.ini
*.txt
*.fileTable.*
*.prefs
*.wsdi
Pdep/Wollok/configuration
Pdep/Wollok/workspace/.metadata
Pdep/Wollok/features
Pdep/Wollok/p2
Pdep/Wollok/plugins
Pdep/Wollok/readme
Pdep/Wollok/.eclipseproduct
Pdep/Wollok/artifacs.xml
/DDS/tendencias-musicales/target
